{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal mx-5">Register</h1>

    {{ form_start(registrationForm, {
        "attr": {
                "class": "mx-5 my-3"
            },
    }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button class="btn btn-lg btn-primary my-2" type="submit">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
